body, h1, th, td {
    font-family: 'Gill Sans';
    color: #383838;
    font-weight: 300;
}

.registration-box{
    max-width: 500px;
}

.registration-box-notification{
    text-align: center;
    background-color: #ddeef9;
    border-radius: 0.1em;
    color: #3e4357;
}

.btn-primary {
    font-family: 'Gill Sans', sans-serif;
    background: none;
    color: #BFA2DB;
    border: 1px solid #BFA2DB;
    padding: 0.5em 1em;
    font-size: 1em;
    border-radius: 0.2em;
    transition: box-shadow 0.3s, transform 0.3s;
    font-weight: 300;
    margin-bottom: 4px;
}

.btn-primary:hover {
    border: none;
    color: #F3F1F5;
    background-color: pink;
    box-shadow: 0.3em 0.3em 0em 0.01em #BFA2DB;
    transform: translateY(-0.2em);
    cursor: pointer;
}

.btn-primary:active {
    background-color: #F3F1F5;
    color: rgb(107, 120, 193);
}

h1,
thead th {
    text-align: center;
}